.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel-glow{
  display: flex;
  width: 1000px;
  height: 600px;
  box-shadow: 0 8px 32px 0 rgba(251,247,245, 0.37);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.left-panel{
  width: 280px;
  height: 600px;
  background: rgba(157, 150, 138, 0.25);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.main-panel{
  width: 720px;
  height: 600px;
  background: rgba(247, 242, 237, 0.25);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}
